html {
    height: 100%
}

body {
    font-family: sans-serif;
    height: 100%
}

.container {
    min-height: 100%;
    position: relative;
}

.responses {
    padding-bottom: 100px;
}

.footer {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.rounded-container {
    position: absolute;
    top: 10px;
    width: 100%;
}

.rounded {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e0e0e0;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}

#llm-response-container {
    display: none;
    width: 90vw;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    word-wrap: break-word;
    border-radius: 20px;
}

#cursor {
    background-color: black;
    margin-left: 5px;
}

#query-button {
    border: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 50%;
}

#ingest-button, #delete-button, #refresh-button {
    display: block;
    visibility: visible;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}

#server-output {
    display: block;
    width: 80vw;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.server-output-line {
    font-family: monospace;
    padding: 10px;
}

#spinner {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.label {
    font-family: sans-serif;
    font-size: 2em;
}

#prompt {
    font-size: 1em;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    /* padding: 10px; */
}

.error {
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    color: red;
    line-height: 1.5;
    word-wrap: break-word;
    border-style: solid;
}

.source {
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: sans-serif;
    word-wrap: break-word;
    border-style: solid;
    border-radius: 20px;
}

.path {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    background-color: lightgray;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.contents {
    font-family: sans-serif;
    font-size: 1em;
}