langchain==0.0.274
llama-cpp-python==0.1.81
urllib3
PyMuPDF==1.23.5
python-dotenv==1.0.0
unstructured[pdf]==0.10.8
unstructured-inference==0.7.25
extract-msg==0.45.0
tabulate==0.9.0
pandoc==2.3
pypandoc==1.11
sentence_transformers==2.2.2
markdown
ebooklib
torch==2.2.2
torchvision==0.17.2
openai==0.28
asyncio>=3.4.3
fastapi==0.110.1
uvicorn[standard]
pymilvus>=2.4.0
boto3
